.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.backBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  font-size: 24px;
  font-weight: 400;
  align-self: center;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: underline;
  display: flex;
  background-color: transparent;
  text-decoration: none;
}
